[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pylint = "*"


[packages]

zappa = "*"
falcon = "*"
gunicorn = "*"
requests = "*"
"boto3" = "*"
requests-aws-sign = "*"


[requires]

python_version = "3.6"
